[Desktop Entry]
Type=Application
TryExec=scalc
Exec=scalc
# Icon=/usr/share/icons/
Terminal=false
Categories=Utility;Math;Science;Education;Calculator;Office;

Name=SCalc
GenericName=Calculator
Comment=A small & simple GUI Calculator
